# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Build
android/
ios/
build/
*.apk
*.aab

# Environment
.env
.env.local
.env.production

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# EAS
eas-build/

# TypeScript
*.tsbuildinfo
